{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Variant App</span>
        </div>
        <div class="navbar-collapse collapse" >
          <ul class="nav nav-pills navbar-static-top">
            <li class="active">
              <a href="/search" title="Variant search">Variant search</a>
            </li>
                  {% if current_user.is_authenticated %}
            <li class="navbar-right"><a href="/logout" title="Log out">Log out</a></li>
            <li class="navbar-text navbar-right">Hello, {{ current_user.email }}</li>
                   {% else %}
                   <li><a href="/login" title="Log in">Log in</a></li>


                  {% endif %}


          </ul>
        </div>
      </div>
    </nav>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('#datatable').dataTable({
                "paging": true,
                "order": [1, "asc"],
            });
        });

    </script>
{% endblock %}